/medcare-domain/.settings
/medcare-domain/.project
/medcare-domain/.classpath
/medcare-model/.classpath
/medcare-model/.project
/medcare-model/lib
/medcare-model/target
/medcare-model/.settings
/medcare-service/.settings
/medcare-service/lib
/medcare-service/target
/medcare-service/.classpath
/medcare-service/.project
/medcare-web/.settings
/medcare-web/bin
/medcare-web/target
/medcare-web/lib
/medcare-web/datastore
/medcare-web/.classpath
/medcare-web/.project
.classpath
.project
.settings
lib
bin
datastore
